<div class="prompt_heading">
  <b>Personal Daily Card</b>
</div> 
<div class="pane_guidance">
  <%= flipback %>
  <div class="constant">
    <div style="text-align: center;">
      <b style="font-size: x-large;"><%= @card.name %></b><br>
    </div>
    <div class="reading_context">
      <span>
        <%= image_tag @card.image_url, class: "reminder" %>
      </span>
      <span>
        <%= marketing_text('heading', 'member', @header || 'daily', 'subheader') %>
        <em><%= @date.strftime("%B %e, %Y") %></em>
      </span>
    </div>
  </div>
  <% @header = 'daily' %>
  <%= render "guidances/carousel_reading" %>
  <div class="button_daily_card temporal_navigation">
    <% if params[:day] == "yesterday" %>
      <%= link_to source_cards_marketing_text('temporal_navigation', 'daily', 'return'), '#', :onclick => "rotateBackward(90); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
      <%= link_to source_cards_marketing_text('temporal_navigation', 'daily', 'forward'), '#', :onclick => "rotateForward(180); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
    <% elsif params[:day] == "tomorrow" %>
      <%= link_to source_cards_marketing_text('temporal_navigation', 'daily', 'backward'), '#', :onclick => "rotateBackward(180); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
      <%= link_to source_cards_marketing_text('temporal_navigation', 'daily', 'return'), '#', :onclick => "rotateForward(90); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
    <% else %>
      <%= link_to source_cards_marketing_text('temporal_navigation', 'daily', 'backward'), '#', :onclick => "rotateBackward(90); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
      <%= link_to source_cards_marketing_text('temporal_navigation', 'daily', 'forward'), '#', :onclick => "rotateForward(90); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
    <% end %>
  </div>
  <%= render partial: "copyright_text" %>
</div>
