<%= reading_heading 'Personal Daily Card' %>
<div class="pane_guidance">
  <%= flipback 'box' %>
  <div class="constant">
    <%= card_name_heading @card %>
    <div class="reading_context">
      <%= card_image @card %>
      <%= reading_subheader @reading, @date %>
    </div>
  </div>
  <%= carousel_reading @card, @reading %>
  <div class="button_daily_card temporal_navigation">
    <% if params[:day] == "yesterday" %>
      <%= link_to source_cards_marketing_text('temporal_navigation', @reading, 'return'), '#', :onclick => "rotateFuture(90); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
      <%= link_to source_cards_marketing_text('temporal_navigation', @reading, 'forward'), '#', :onclick => "rotateFuture(360); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
    <% elsif params[:day] == "tomorrow" %>
      <%= link_to source_cards_marketing_text('temporal_navigation', @reading, 'backward'), '#', :onclick => "rotatePast(360); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
      <%= link_to source_cards_marketing_text('temporal_navigation', @reading, 'return'), '#', :onclick => "rotatePast(90); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
    <% else %>
      <%= link_to source_cards_marketing_text('temporal_navigation', @reading, 'backward'), '#', :onclick => "rotateFuture(90); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
      <%= link_to source_cards_marketing_text('temporal_navigation', @reading, 'forward'), '#', :onclick => "rotatePast(90); return false;", :class => 'lunar_navigation', :data => {:turbolinks => false} %>
    <% end %>
  </div>
  <%= render partial: "copyright_text" %>
</div>
