<%= reading_heading 'Personal Daily Card' %>
<div class="pane_guidance">
  <%= flipback 'box' %>
  <div class="constant">
    <%= card_name_heading @card %>
    <div class="reading_context">
      <%= card_image @card %>
      <%= reading_subheader @reading, @date %>
    </div>
  </div>
  <%= carousel_reading @card, @reading %>
  <%= temporal_navigation_buttons @reading, @position %>
  <%= copyright_text %>
</div>
