<% if params[:planet] == nil %>
  <% @card = @birthday.card_for_this_planet %>
  <% @planet =@birthday.current_planet %>
  <% @date = @birthday.date_of_next_planet
 %>
<% end %>

<div class="prompt_heading">
  <b>52-Day Card</b>
</div>
<div class= "pane_guidance">
  <div class = "constant">
    <div style = "text-align: center;">
      <b style = "font-size: x-large;"><%= @card.name %> </b>
    </div> 
      <%= marketing_text('heading','member' ,'planetary', 'subheader') %>  
      <%= @planet %>
      <%="  This cycle ends on #{@date.strftime("%-m/%-d.")}" %>
      <p style="text-align: center;">
        <%= image_tag @card.image,class: "pad" %>
      </p>
  </div>
   <%@header = 'planetary'%>
   <%= render "guidances/carousel_reading" %>
  <% unless params[:lookup_card].present?%>
    <% if  params[:planet] == "last" %>
      <div class = "button_daily_card">
        <%= link_to "See Current 52-Day Card", guidances_card52_path( :planet => 'current'),:remote => true ,:class => 'lunar_navigation' %>
        <%= link_to "See Next 52-Day Card", guidances_card52_path( :planet => 'next'),:remote => true ,:class => 'lunar_navigation' %>
        <%= render partial: "copyright_text" %>
      </div>
    <% elsif params[:planet] == "next" %>
      <div class = "button_daily_card">
        <%= link_to "See Current 52-Day Card", guidances_card52_path( :planet => 'current'),:remote => true ,:class => 'lunar_navigation' %>
        <%= link_to "See Previous 52-Day Card", guidances_card52_path( :planet => 'last'),:remote => true ,:class => 'lunar_navigation' %>
        <%= render partial: "copyright_text" %>
      </div>
    <% else %>
      <div class = "button_daily_card">
        <%= link_to "See Previous 52-Day Card", guidances_card52_path( :planet => 'last'),:remote => true ,:class => 'lunar_navigation' %>
        <%= link_to "  See Next 52-Day Card  ", guidances_card52_path( :planet => 'next'),:remote => true ,:class => 'lunar_navigation' %>
        <%= render partial: "copyright_text" %>
      </div>
    <% end %>
  <%else%>
    <div class = "button_daily_card">
      <h3 style= "text-align: center;">Want to know which card is coming next?</h3>
      <%= link_to "Subscribe Below", "#",  class: "lunar_navigation", style: "font-size: 18px; pointer-events: none;" %>
      <h3 style= "text-align: center;">Subscribe To Read More Cards</h3>
      <%= link_to "Subscribe To See Your Next Card", subscribe_link, target: :_blank, class: "lunar_navigation", style: "font-size: 18px;" %>
      <%= render partial: "copyright_text" %>
    </div>
  <%end%>
</div>
<%= javascript_include_tag 'carousel', 'data-turbolinks-track': 'reload' %>
