<% if params[:day] == nil %>
  <% @card = @birthday.card_for_today %>
  <% @date = Date.current %>
<% end %>
<div class="prompt_heading">
  <b>Personal Daily Card </b>
</div> 
<div class= "pane_guidance"> 
  <div class = "constant">
    <div style = "text-align: center;">
      <b style = "font-size: x-large;"><%= @card.name %> </b><br>
      <b>  For <%= @date.strftime("%b %e %Y")  %> </b>  
    </div>
    <%= marketing_text('heading','member' ,@header || 'daily', 'subheader') %>  
    <p style="text-align: center;" >
      <%= image_tag @card.image,class: "pad" %>
    </p>
  </div>
  <%@header = 'daily'%>
  <%= render "guidances/carousel_reading" %>


  <% unless params[:lookup_card].present?%>
    <%if  params[:day] == "yesterday"%>
      <div class = "button_daily_card">
        <%= link_to "Today's Card", guidances_daily_card_path( :day => 'today'),:remote => true ,:class => 'lunar_navigation'%>
        <%= link_to "Tomorrow's Card", guidances_daily_card_path( :day => 'tomorrow'),:remote => true ,:class => 'lunar_navigation'%>
        <%= render partial: "copyright_text" %>
      </div>
    <%elsif params[:day] == "tomorrow"%>
      <div class = "button_daily_card">
        <%= link_to "Today's Card", guidances_daily_card_path( :day => 'today'),:remote => true ,:class => 'lunar_navigation'%>
        <%= link_to "Yesterday's Card", guidances_daily_card_path( :day => 'yesterday'),:remote => true ,:class => 'lunar_navigation'%>
        <%= render partial: "copyright_text" %>
      </div>
    <%else%>
      <div class = "button_daily_card">
                                          <%= link_to "Yesterday's Card", guidances_daily_card_path( :day => 'yesterday'),:remote => true ,:class => 'lunar_navigation'%>
        <%= link_to "Tomorrow's Card", guidances_daily_card_path( :day => 'tomorrow'),:remote => true ,:class => 'lunar_navigation'%>
        <%= render partial: "copyright_text" %>
      </div>
    <%end%>
  <%else%>
    <div class = "button_daily_card">
      <h3 style= "text-align: center;">Want guidance every single day?</h3>
      <%= link_to "Subscribe Below", "#",  class: "lunar_navigation", style: "font-size: 18px; pointer-events: none;" %>
       <%= render partial: "copyright_text" %>
    </div>
  <%end%>
 </div> 
<%= javascript_include_tag 'carousel', 'data-turbolinks-track': 'reload' %>

