<% if params[:year] == nil %>
  <% @main_card = params[:personality] ? @birthday.personality_card : @birthday.birth_card %>
  <% @card = @birthday.card_for_this_year @main_card %>
  <% @date = DateTime.now %>
<% end %>
<div class="prompt_heading">
  <b>Yearly Theme Card</b>
</div>
<div class="pane_guidance">
  <%= flipback %>
  <div class="constant">
    <div style="text-align: center;">
      <b style="font-size: x-large;"><%= @card.name %></b>
    </div>
    <%= marketing_text('heading','member' ,'yearly', 'subheader') %> 
    <p style="text-align: center;">
      <%= image_tag @card.image, class:"pad" %>
    </p>
  </div>
  <% @header = 'yearly' %>
  <%= render "guidances/carousel_reading" %>
  <% if params[:year] == "last" %>
    <div class="button_daily_card temporal_navigation">
      <%= link_to "See This Year's Card", guidances_year_card_path(:birthday_id => @birthday.id, :year => 'current', :personality => params[:personality], :zodiac => params[:zodiac]),:remote => true ,:class => 'lunar_navigation'%>
      <%= link_to "See Next Year's Card", guidances_year_card_path(:birthday_id => @birthday.id, :year => 'next', :personality => params[:personality], :zodiac => params[:zodiac]),:remote => true ,:class => 'lunar_navigation'%>
      <%= render partial: "copyright_text" %>
    </div>
  <% elsif params[:year] == "next" %>
    <div class="button_daily_card temporal_navigation">
      <%= link_to "See This Year's Card", guidances_year_card_path(:birthday_id => @birthday.id, :year => 'current', :personality => params[:personality], :zodiac => params[:zodiac]),:remote => true ,:class => 'lunar_navigation'%>
      <%= link_to "See Last Year's Card", guidances_year_card_path(:birthday_id => @birthday.id, :year => 'last', :personality => params[:personality], :zodiac => params[:zodiac]),:remote => true ,:class => 'lunar_navigation'%>
      <%= render partial: "copyright_text" %>
    </div>
  <% else %>
    <div class="button_daily_card temporal_navigation">
      <%= link_to "See Last Year's Card", guidances_year_card_path(:birthday_id => @birthday.id, :year => 'last', :personality => params[:personality], :zodiac => params[:zodiac]),:remote => true ,:class => 'lunar_navigation'%>
      <%= link_to "See Next Year's Card", guidances_year_card_path(:birthday_id => @birthday.id, :year => 'next', :personality => params[:personality], :zodiac => params[:zodiac]),:remote => true ,:class => 'lunar_navigation'%>
      <%= render partial: "copyright_text" %>
    </div>
  <% end %>
  <%= javascript_include_tag 'carousel', 'data-turbolinks-track': 'reload' %>
</div>
