<body class="body">
  <div class="widget_heading">
    <section id="widget_title_gui"><%= source_cards_marketing_text 'subscriber', 'right_now', 'title' %></section>
    <section id="widget_instructions"><%= source_cards_marketing_text 'subscriber', 'right_now', 'technique' %></section>
  </div>
  <div id="guidance_zone" class="guidance_show_media">
    <div class="delivery_zone" id="delivery_first">
      <div class="boxpanel">
        <div class="surface-wrapper">
          <div class="alpha surface">
            <%= image_tag (asset_path 'Low-Grey-Blue-RGB.jpg'), :class => 'source_cards_card_design', :onclick => "rotatePast(180); return false;" %>
          </div>

          <div class="beta surface">
            <%= card_box_pane @birthday.card_for_yesterday(@main_card), 'daily', DateTime.yesterday, :back %>
          </div>

          <div class="gamma surface">
            <%= card_box_pane @birthday.card_for_today(@main_card), 'daily', Date.current, :here %>
          </div>

          <div class="delta surface">
            <%= card_box_pane @birthday.card_for_tomorrow(@main_card), 'daily', DateTime.tomorrow, :forward %>
          </div>
        </div>
      </div>
    </div>

    <div class="delivery_zone" id="delivery_second">
      <div class="boxpanel">
        <div class="surface-wrapper">
          <div class="alpha surface">
            <%= image_tag (asset_path 'Low-Grey-Blue-RGB.jpg'), :class => 'source_cards_card_design', :onclick => "rotatePast(180); return false;" %>
          </div>

          <div class="beta surface">
            <%= card_box_pane @birthday.card_for_last_planet(@main_card), 'planetary', (@birthday.date_of_next_planet - 52.days), :back, @birthday.last_planet %>
          </div>

          <div class="gamma surface">
            <%= card_box_pane @birthday.card_for_this_planet(@main_card), 'planetary', @birthday.date_of_next_planet, :here, @birthday.current_planet %>
          </div>

          <div class="delta surface">
            <%= card_box_pane @birthday.card_for_next_planet(@main_card), 'planetary', (@birthday.date_of_next_planet + 52.days), :forward, @birthday.next_planet %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
