<body class = "body">
  <div class="widget_heading">
    <section id="widget_title"><%= source_cards_marketing_text 'subscriber', 'instructions', 'heading' %></section>
    <section id="widget_instructions"><%= source_cards_marketing_text 'subscriber', 'instructions', 'middle' %></section>
    <section id="widget_instructions"><%= source_cards_marketing_text 'subscriber', 'instructions', 'submission' %></section>
  </div>

  <%= form_for Birthday.new(:date => @date), :url => guidances_show_path(prompt: true) do |birthday_form| %>
    <%= birthday_form.date_select :date, :start_year => 1900, :end_year => Time.now.year + 1, :order => [:month, :day, :year] %><br><br>
    <div id="reading_type_picker">
      <%= select_tag :reading_type, options_for_select(['Birth Card', 'Personality Card']) %>
      <%= image_tag 'images/down-arrow-angle-black.png', :id => 'reading_picker_arrow' %>
    </div>
    <div onclick="startWobble()">
      <%= birthday_form.submit marketing_text('new_players', 'button2') %>
    </div>
  <% end %>
  <div id="guidance_zone" class="guidance_prompt_media">
    <div class="prompt_zone">
      <%= card_back_image %>
    </div>
    <div class="prompt_zone">
      <%= card_back_image %>
    </div>
    <div class="prompt_zone">
      <%= card_back_image %>
    </div>
  </div>
</body>

<script>
  function startWobble() {
    document.getElementById("guidance_zone").classList.add('wobble');
  } 
</script>
