<body class="body">
  <%= clearleft %>
  <div class="widget_heading">
    <section id="widget_title_gui"><%= source_cards_marketing_text 'new_players', 'header1' %></section>
    <section id="widget_instructions">Click on each Source Card to flip it over!</section>
  </div>
  <div id="guidance_zone" class="guidance_show_media">
    <div class="delivery_zone" id="delivery_first">
      <div class="panel">
        <div class="front flip_card" onclick="addHeight('first')">
          <%= image_tag (asset_path 'Low-Grey-Blue-RGB.jpg'), :class => 'source_cards_card_design' %>
        </div>
        <div class="back" id="daily_card">
          <%#= link_to "", '#', onclick: "flipCardBack(event)", data: {turbolinks: false}, class: 'flipback' %>
          <%= render "guidances/daily_card_purchaser" %>
        </div>
      </div>
    </div>
    <div class="delivery_zone" id="delivery_second">
      <div class="panel">
        <div class="front flip_card" onclick="addHeight('second')">
          <%= image_tag (asset_path 'Low-Grey-Blue-RGB.jpg'), :class => 'source_cards_card_design' %>
          <div class="prompt_heading desktop-only" style="margin-top: 10px;">
            <b><span style="text-align: center; font-size: 18px; text-decoration: none; color: white;">Subscribe To Read More Cards</span></b>
          </div>
          <div class="button_daily_card desktop-only">
            <%= link_to "Learn More And Subscribe", subscribe_link, target: :_blank, class: "lunar_navigation", style: "font-size: 18px;" %>
          </div>
        </div>
        <div class="back" id="card52">
          <%#= link_to "", '#', onclick: "flipCardBack(event)", data: {turbolinks: false}, class: 'flipback' %>
          <%= render "guidances/card52_purchaser", show: @show %>
        </div>
      </div>
    </div>
    <div class="delivery_zone" id="delivery_third">
      <div class="panel">
        <div class="front flip_card" id = "btn_zone" onclick="addHeight('third')">
          <%= image_tag (asset_path 'Low-Grey-Blue-RGB.jpg'), :class => 'source_cards_card_design' %>
        </div>
        <div class="back" id= "card_year">
          <%#= link_to "", '#', onclick: "flipCardBack(event)", data: {turbolinks: false}, class: 'flipback' %>
          <%= render "guidances/year_card_purchaser" %>
        </div>
      </div>
    </div>
    <div class="prompt_heading mobile-tablet-only" style="margin-top: 10px;">
      <b><span style="text-align: center; font-size: 18px; text-decoration: none; color: white;">Subscribe To Read More Cards</span></b>
    </div>
    <div class="button_daily_card mobile-tablet-only">
      <%= link_to "Learn More And Subscribe", subscribe_link, target: :_blank, class: "lunar_navigation", style: "font-size: 18px;" %>
    </div>
  </div>
</body>
