     
  <h2><b>Click on each Source Card to flip it Over!</b></h2>
  <div id = "guidance_zone">
    <div  class="delivery_zone">
      <div class="panel">
        <div class="front flip_card">
          <%= image_tag (asset_path 'blue-round-sourcecards-lowrez.png'),style: "width: 250px;", :class => 'source_cards_card_design' %>
        </div>
        <div class="back">
          <%= card_reading_pane_gui @birthday.card_for_today, :daily, marketing_text('heading', 'member', 'daily', 'header'), marketing_text('heading', 'daily', 'subheader') %>
        </div>
        </div>
    </div>
    <div  class="delivery_zone"  style ="padding-left:90px;">
      <div class="panel">
        <div class="front flip_card">
          <%= image_tag (asset_path 'blue-round-sourcecards-lowrez.png'), style: "width: 250px;",:class => 'source_cards_card_design' %>
        </div> 
        <div class="back">
          <%= card_reading_pane_gui @birthday.card_for_this_planet, :planetary, marketing_text('heading', 'member', 'planetary', 'header'), marketing_text('heading', @querent, 'planetary', 'subheader')  %>
        </div>
      </div>
    </div>
    <div  class="delivery_zone" style ="padding-left:70px;">
        <div class="panel">
       <div class="front flip_card">
        <%= image_tag (asset_path 'blue-round-sourcecards-lowrez.png'),style: "width: 250px;", :class => 'source_cards_card_design' %>
        </div>
        <div class="back">
          <%= card_reading_pane_gui @birthday.card_for_this_year, :yearly, marketing_text('heading', 'member', 'yearly', 'header'), marketing_text('heading', @querent, 'yearly', 'subheader') %>
        </div>
     </div>
    </div>
  </div>

   
    <style>
    h2{text-align: center;}


     #guidance_zone{
        display: flex;
        justify-content: flex-start;
        padding-top: 50px;

      }

@media(min-width: 310px) and (max-width: 767px){
  #guidance_zone{
    flex-direction: column;
    align-items: center;
  }
}
      .card_reading_pane_gui{
        width: 20%;
      }
      .card_face_image_gui{
        float: right;
        margin: 5px;
        width: 120px;
        border-radius: 5px;
      }
      .name_of_card{
        text-align: right;
        font-weight: bold;
      }

    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
    
        50% {
            background-position: 100% 50%;
        }
    
        100% {
            background-position: 0% 50%;
        }
    }


</style>
    




