  <div class = "flexing">

  <div  class="delivery_zone">
    <div class="panel">
      <div class="front flip_card">
        <%= image_tag (asset_path 'blue-round-sourcecards-lowrez.png'),style: "width: 200px;", :class => 'guidance_style' %>
      </div>
      <div class="back">
        <%= card_reading_pane_gui @birthday.card_for_today, :daily, marketing_text('heading', 'member', 'daily', 'header'), marketing_text('heading', 'daily', 'subheader') %>
       </div>
      </div>
  </div>
  <div  class="delivery_zone">
    <div class="panel">
      <div class="front flip_card">
        <%= image_tag (asset_path 'blue-round-sourcecards-lowrez.png'), style: "width: 200px;",:class => 'guidance_style' %>
      </div> 
      <div class="back">
         <%= card_reading_pane_gui @birthday.card_for_this_planet, :planetary, marketing_text('heading', 'member', 'planetary', 'header'), marketing_text('heading', @querent, 'planetary', 'subheader')  %>
      </div>
    </div>
  </div>
  <div  class="delivery_zone">
    <div class="panel">
     <div class="front flip_card">
       <%= image_tag (asset_path 'blue-round-sourcecards-lowrez.png'),style: "width: 200px;", :class => 'guidance_style' %>
      </div>
      <div class="back">
        <%= card_reading_pane_gui @birthday.card_for_this_year, :yearly, marketing_text('heading', 'member', 'yearly', 'header'), marketing_text('heading', @querent, 'yearly', 'subheader') %>
       </div>
      </div>
  </div>
</div>
<style>

  .flexing{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

  }
  .card_reading_pane_gui{
    width: 20%;
  }
  .card_face_image_gui{
    float: right;
    margin: 5px;
    width: 120px;
    border-radius: 5px;
  }
  .name_of_card{
    text-align: right;
    font-weight: bold;
  }




</style>
    




