<%= form_with(model: interview, local: true, :class => 'interview') do |form| %>
  <% if interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% interview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= marketing_text('exit_interview', 'instructions') %>
  <div class="field">
    <%= form.check_box :unused, id: :interview_unused %>
    <%= form.label :unused, marketing_text('exit_interview', 'unused') %>
  </div>

  <div class="field">
    <%= form.check_box :elsewhere, id: :interview_elsewhere %>
    <%= form.label :elsewhere, marketing_text('exit_interview', 'elsewhere') %>
  </div>

  <div class="field">
    <%= form.check_box :cumbersome, id: :interview_cumbersome %>
    <%= form.label :cumbersome, marketing_text('exit_interview', 'cumbersome') %>
  </div>
  
  <div class="field">
    <%= form.check_box :expense, id: :interview_expense %>
    <%= form.label :expense, marketing_text('exit_interview', 'expense') %>
  </div>
  
  <div class="field">
    <%= form.check_box :accuracy, id: :interview_accuracy %>
    <%= form.label :accuracy, marketing_text('exit_interview', 'accuracy') %>
  </div>
  
  <div class="field">
    <%= form.check_box :specific, id: :interview_specific %>
    <%= form.label :specific, marketing_text('exit_interview', 'specific') %>
  </div>
  
  <div class="field">
    <%= form.check_box :applicable, id: :interview_applicable %>
    <%= form.label :applicable, marketing_text('exit_interview', 'applicable') %>
  </div>

  <div class="field">
    <%= check_box_tag :other %>
    <%= form.label :thoughts, marketing_text('exit_interview', 'thoughts') %><br>
    <%= form.text_area :thoughts, id: :interview_thoughts %>
  </div>
  
  <%= marketing_text 'exit_interview', 'signoff' %>

  <div class="actions">
    <%= form.submit :Proceed %>
  </div>
<% end %>
