<p id="notice"><%= notice %></p>

<h1>Interviews</h1>

<table>
  <thead>
    <tr>
      <th>Unused</th>
      <th>Elsewhere</th>
      <th>Cumbersome</th>
      <th>Expense</th>
      <th>Accuracy</th>
      <th>Specific</th>
      <th>Applicable</th>
      <th>Thoughts</th>
      <th>Member</th>
      <th>Braintree subscription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.unused %></td>
        <td><%= interview.elsewhere %></td>
        <td><%= interview.cumbersome %></td>
        <td><%= interview.expense %></td>
        <td><%= interview.accuracy %></td>
        <td><%= interview.specific %></td>
        <td><%= interview.applicable %></td>
        <td><%= interview.thoughts %></td>
        <td><%= interview.member.name %></td>
        <td><%= interview.braintree_subscription_id %></td>
        <td><%= link_to 'Show', interview %></td>
        <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
        <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview', new_interview_path %>
