<p id="notice"><%= notice %></p>

<h1>Interviews</h1>

<table>
  <thead>
    <tr>
      <th>Expected</th>
      <th>Frequent</th>
      <th>Useful</th>
      <th>Thoughts</th>
      <th>Member</th>
      <th>Braintree subscription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.expected %></td>
        <td><%= interview.frequent %></td>
        <td><%= interview.useful %></td>
        <td><%= interview.thoughts %></td>
        <td><%= interview.member %></td>
        <td><%= interview.braintree_subscription_id %></td>
        <td><%= link_to 'Show', interview %></td>
        <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
        <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview', new_interview_path %>
