<div id="access_card_delivery_zone">
  <div id="birth_card_delivery_zone" class="delivery_zone">
    <div class="panel">
      <div class="front flip_card">
        <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
      </div>
    
      <div class="back">
        <%= image_tag @birth_card.image %>
        
        <div id="birth_card_title_line" class="title_line">
          Your birth card is <br><%= @birth_card.name %>
        </div>
      </div>
    </div>
  </div>
  
  <div id="personality_card_delivery_zone" class="delivery_zone">
    <div class="panel">
      <div class="front flip_card">
        <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
      </div>
    
      <div class="back">
        <%= image_tag @personality_card&.image %>
        
        <div id="personality_card_title_line" class="title_line">
          Your personality card is <br><%= @personality_card&.name %>
        </div>
      </div>
    </div>
  </div>
  
  <div id="birthday_card_delivery_zone" class="delivery_zone">
    <div class="panel">
      <div class="front flip_card">
        <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
      </div>
    
      <div class="back">
        <%= image_tag @birthday_card if @birthday_card %>
        <div id="birthday_name" class="title_line">
          <%= @birthday.name %>
        </div>
      </div>
    </div>
  </div>
</div>
