<div id="access_card_delivery_zone">
  <div id="birth_card_delivery_zone" class="delivery_zone">
    <div class="panel">
      <div class="front flip_card">
        <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
      </div>
    
      <div class="back">
        <%= link_to source_card_url(@birth_card), :class => 'nodeco', :target => :blank do %>
          <%= image_tag @birth_card.image %>
          <div id="birth_card_title_line" class="title_line">
            <%= source_cards_marketing_text 'card_reading', 'birth_card', 'identification' %> <br>
            <%= @birth_card.name %>.<br>
            <%= source_cards_marketing_text 'card_reading', 'birth_card', 'symbolizing' %><br>
            <%= source_cards_marketing_text 'card_reading', 'birth_card', 'instructions' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="personality_card_delivery_zone" class="delivery_zone">
    <div class="panel">
      <div class="front flip_card">
        <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
      </div>
    
      <div class="back">
        <%= link_to source_card_url(@personality_card), :class => 'nodeco', :target => :blank do %>
          <%= image_tag @personality_card.image if @personality_card %>
          <div id="personality_card_title_line" class="title_line">
            <%= source_cards_marketing_text 'card_reading', 'personality_card', 'identification' %> <br>
            <%= @personality_card&.name %>.<br>
            <%= source_cards_marketing_text 'card_reading', 'personality_card', 'symbolizing' %><br>
            <%= source_cards_marketing_text 'card_reading', 'personality_card', 'instructions' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="birthday_card_delivery_zone" class="delivery_zone">
    <div class="panel">
      <div class="front flip_card">
        <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
      </div>
    
      <div class="back">
        <%= link_to birthday_card_url(@birthday, @birth_card), :class => 'nodeco', :target => :blank do %>
          <%= image_tag @birthday_card if @birthday_card %>
          <div id="birthday_name" class="title_line">
            <%= source_cards_marketing_text 'card_reading', 'birthday_card', 'identification' %><br>
            <%= @birthday.month_day %><br>
            <%= source_cards_marketing_text 'card_reading', 'birthday_card', 'instructions' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
