<div id="card_reading_delivery_zone">
  <div id="birthday_selection_tool">
    <%= form_for Birthday.new :date => @date do |birthday_form| %>
      <%= birthday_form.date_select :date, :start_year => 1900, :end_year => Time.now.year + 1, :order => [:month, :day, :year] %><br>
      <%= birthday_form.submit marketing_text('new_players', 'button') %>
      <%= hidden_field_tag :source_cards, true %>
    <% end %>
  </div>
  
  <div id="access_card_delivery_zone">
    <div id="birth_card_delivery_zone" class="delivery_zone">
      <div class="panel">
        <div class="front">
          <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
        </div>
      </div>
    </div>
  
    <div id="personality_card_delivery_zone" class="delivery_zone">
      <div class="panel">
        <div class="front">
          <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
        </div>
      </div>
    </div>
  
    <div id="birthday_card_delivery_zone" class="delivery_zone">
      <div class="panel">
        <div class="front">
          <%= image_tag asset_path('blue-round-sourcecards-lowrez.png') %>
        </div>
      </div>
    </div>
  </div>
</div>
