<div class="interpretation-container">
  <%= link_to 'New Interpretation', new_interpretation_path %><br>

  <div class="interpretation-sort card-in-interpretation">
    <%= link_to 'Sort by Card', sort_params.except(:by_face).merge(sort: 'card_id'), :class => (params[:sort] == 'card_id' ? 'selected' : nil) %>
    <%= link_to 'Sort by Face', sort_params.except(:sort).merge(by_face: true), :class => (params[:by_face] == 'true' ? 'selected' : nil) %>
    <%= link_to 'Sort by Reading', sort_params.except(:by_face).merge(sort: 'reading'), :class => (params[:sort] == 'reading' ? 'selected' : nil) %>
  </div>

  <div class="interpretation-sort">
    <%= link_to "All #{params[:reading]}", sort_params.except(:suit) %>
    <% Suit.actual.each do |suit| %>
      <%= link_to suit.name, sort_params.merge(suit: suit.name), :class => (suit.name == params[:suit] ? 'selected' : nil) %>
    <% end %>
  </div>

  <div class="interpretation-sort reading_type_of_interpretation">
    <%= link_to "All #{params[:suit]}", sort_params.except(:reading) %>
    <% Interpretation.readings.each do |name, db_id| %>
      <%= link_to name.capitalize, sort_params.merge(reading: name), :class => (name == params[:reading] ? 'selected' : nil) %>
    <% end %>
  </div>

  <%= paginate @interpretations %>

  <% @interpretations.each do |interpretation| %>
    <%= div_for interpretation do %>
      <div class="card-in-interpretation">
        <%= interpretation.card.name %> as 
        <%= interpretation.reading %>:
      </div>

      <div class="explanation-of">
        <%= mark_up interpretation.explanation %>
      </div>

      <div class="control-of">
        <%= link_to '[Edit]', edit_interpretation_path(interpretation) %>
        <%= link_to '[Delete]', interpretation_path(interpretation),
                    method: :delete, remote: true,
                    data: { confirm: 'Please confirm that there is another interpretation for this reading! Do you want to delete this one?' } %>
      </div>
    <% end %>
  <% end %>

  <%= paginate @interpretations %>

  <%= link_to 'New Interpretation', new_interpretation_path %>
</div>
