<div>
  <%= link_to 'new interpretation', new_interpretation_path, :id => 'new_interpretation_button' %><br>
  <div class="interpretation_sort card_in_interpretation">
    <%= link_to 'Sort by Card', sort_params.except(:by_face).merge(:sort => 'card_id') %><br>
    <%= link_to 'Sort by Face', sort_params.except(:sort).merge(:by_face => true) %><br>
    <%= link_to 'Sort by Reading', sort_params.except(:by_face).merge(:sort => 'reading') %>
  </div>
  <div class="interpretation_sort">
    <%= link_to "All #{params[:reading]}", sort_params.except(:suit) %><br>
    <% Suit.actual.each do |suit| %>
      <%= link_to suit.name, sort_params.merge(:suit => suit.name) %><br>
    <% end %>
  </div>
  <div class="interpretation_sort reading_type_of_interpretation">
    <%= link_to "All #{params[:suit]}", sort_params.except(:reading) %><br>
    <% Interpretation.readings.each do |name, db_id| %>
      <%= link_to name.capitalize, sort_params.merge(:reading => name) %><br>
    <% end %>
  </div>
</div>
<%= paginate @interpretations %>
<% @interpretations.each do |interpretation| %>
  <%= div_for interpretation do %>
    <%= div_for interpretation, :card_in, :class => 'interpretation_sort' do %>
      <%= interpretation.card.name %> as
    <% end %>
    <%= div_for interpretation, :reading_type_of, :class => 'interpretation_sort' do %>
      <%= interpretation.reading %>:
    <% end %>
    <%= div_for interpretation, :explanation_of, :class => 'interpretation_sort' do %>
      <%= mark_up interpretation.explanation %>
    <% end %>
    <%= div_for interpretation, :control_of, :class => 'interpretation_sort' do %>
      <%= link_to '[edit]', edit_interpretation_path(interpretation) %>
      <%= link_to '[delete]', interpretation_path(interpretation), :method => :delete, :remote => true, :data => {:confirm => 'Please confirm that there is another interpretation for this reading!  Do you want to delete this one?'} %>
    <% end %>
  <% end %>
<% end %>
<%= paginate @interpretations %>
<%= link_to 'new interpretation', new_interpretation_path %>
