<%= content_tag :div, :class => 'reading_display_container' do %>
  <%= div_for @birthday, 'data-birthday_id' => @birthday.id, 'data-lookup_id' => @lookup.id do %>
    <%= div_for @birthday, :birth_card_for do %>
      <%= content_tag :header, 'Your Birth Card' %>
      <%= content_tag :div, "For #{@birthday.birthdate.strftime("%b %e %Y")}" %>
      <%= div_for @birth_card, :identification_of do %>
        <%= image_tag @birth_card.image, :class => 'card_face_image' %>
      <% end %>
      <%= div_for @birth_card, :explication_of do %>
        <%= mark_up @birth_card_explanation %>
      <% end %>
    
      <%= content_tag :header, 'Your Personality Card' %>
      <%= div_for @birth_card, :identification_of do %>
        <%= image_tag Card.card_back_image, :class => 'card_face_image' %>
      <% end %>
      <%= div_for @birth_card, :explication_of do %>
        <%= ENV['PERSONALITY_CARD_COPY'] %>
      <% end %>
    <% end %>
    
    <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post" id="getresponse_delivery">
      <input type="text" name="name" placeholder="First Name" id="member_first_name" required="required"/><br/>
      <input name="email" placeholder="Email" id="member_email" required="required" type="email"/><br/>
      <input type="submit" value="Go"/>
      <input type="hidden" name="campaign_token" value="<%= ENV['GETRESPONSE_CAMPAIGN_ID'] %>" />
      <input type="hidden" name="thankyou_url" value="<%= birthday_url(@birthday) %>"/>
    </form>
  <% end %>
<% end %>
