<%= clearleft %>
<%= link_to 'Birth Card Lookup', root_url, :class => 'lunar_navigation' %>
<%= content_tag :div, :class => 'member_form_container' do %>
  <%= content_tag :div, :class => 'reading_display_container' do %>
    <%= div_for @birthday, 'data-birthday_id' => @birthday.id, 'data-lookup_id' => @lookup.id do %>
      <%= card_reading_pane @birthday.birth_card, :birth, "Your Birth Card", "For #{@birthday.birthdate.strftime("%b %e %Y")}" %>
      <%= clearboth %>
      
      <%= card_preview :personality %>
      <%= clearboth %>
    
      <%= card_preview :yearly %>
      <%= clearboth %>
    
      <%= card_preview :planetary %>
      <%= clearboth %>
    <% end %>
  <% end %>

  <%= content_tag :div, :id => 'players_club_membership_form', :class => 'pane' do %>
    <%= content_tag :header, content_tag(:b, marketing_text('member_form', 'header')) %>
    <%= image_tag asset_path('blueorangeround-lowrez.png'), :id => 'players_club_logo' %>
    <%= div_for @birth_card, :explication_of do %>
      <%= mark_up marketing_text('member_form', 'description') %>
    <% end %>
    <div id="signup" class="submission">
      <%= content_tag :header, 'Create Your FREE Player Profile' %>
      <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post" id="getresponse_delivery" class="member_signup_credential_entry">
        <input type="text" name="name" placeholder="First Name" id="member_first_name" required="required"/><br/>
        <input name="email" placeholder="Email" id="member_email" required="required" type="email"/><br/>
        <input type="submit" value="Go" id="submit"/>
        <input type="hidden" name="campaign_token" value="<%= ENV['GETRESPONSE_CAMPAIGN_ID'] %>" />
        <!-- <input type="hidden" name="thankyou_url" value="<%= birthday_url(@birthday) %>"/> -->
        <input type="hidden" name="custom_BirthDate" value="<%= @birthday.birthdate_string %>"/>
      </form>
    </div>
    <%= mark_up marketing_text('member_form', 'privacy_policy')%>
  <% end %>
<% end %>
