<%= clearleft %>
<%= link_to marketing_text('navigation', 'lookup'), root_url, :class => 'lunar_navigation' %>
<%= content_tag :div, :class => 'member_form_container' do %>
  <%= content_tag :div, :class => 'reading_display_container' do %>
    <%= div_for @birthday, 'data-birthday_id' => @birthday.id, 'data-lookup_id' => @lookup.id do %>
      <%= card_reading_pane @birthday.birth_card, :birth, marketing_text('heading', 'member', 'birth', 'header'), "For #{@birthday.birthdate.strftime("%b %e %Y")}" %>
      <%= clearboth %>
      
      <%= card_preview :personality %>
      <%= clearboth %>
    
      <%= card_preview :yearly %>
      <%= clearboth %>
    
      <%= card_preview :planetary %>
      <%= clearboth %>
    <% end %>
  <% end %>

  <%= content_tag :div, :id => 'players_club_membership_form', :class => 'pane' do %>
    <%= content_tag :header, content_tag(:b, marketing_text('member_form', 'header')) %>
    <%= image_tag asset_path('blueorangeround-lowrez.png'), :id => 'players_club_logo' %>
    <%= div_for @birth_card, :explication_of do %>
      <%= mark_up marketing_text('member_form', 'description') %>
    <% end %>
    <div id="signup" class="submission">
      <%= content_tag :header, marketing_text('member_form', 'instructions') %>
      <form action="https://sourcecards.simplero.com/optin/b24zsq7f18NUxEhYeC56YbMi/173105" method="post" id="simplero_delivery" class="member_signup_credential_entry"><img src="https://www.thesourcecards.com/F/173105" width="1" height="1" alt="." />
        <input type="text" placeholder="First Name" name="first_names" id="first_names" requred="required"><br/>
        <input type="email" placeholder="Email" name="email" id="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required="required"><br/>
        
        <input name="submit" value="Go" type="submit" class="simplero-submit" id="submit">
        <input type="hidden" name="customer[field_146326_value]" value="<%= @birthday.birthdate_string %>">
      </form>
    </div>
    <span class='terms'>
      <%= mark_up marketing_text('member_form', 'privacy_policy') %>
    </span>
  <% end %>
<% end %>
<%= tag.div :id => 'cancellation_policy' do %>
  <%= marketing_text('subscription', 'cancellation', 'policy') %>
<% end %>
