<%= clearleft %>
<%= link_to 'Return to My Reading', root_path, :id => 'my_reading_link', :class => 'lunar_navigation' if current_member %>
<div id="container">
  <div id="landing">
    <div id="left_cell" class="landing_table"></div>
    <div id="new_players" class="landing_table submission">
      <%= content_tag :header, 'New Players', :id => 'new_players_header' unless current_member %>
      <%= content_tag :header, content_tag(:b, @goal), :class => 'call_to_action' %>
      <%= content_tag :header, @instructions, :class => 'call_to_action' %>
      <%= form_for Birthday.new :date => @date do |birthday_form| %>
        <%= birthday_form.date_select :date, :start_year => 1900, :end_year => Time.now.year + 1, :order => [:month, :day, :year] %>
        <%= birthday_form.submit 'Go' %>
      <% end %>
    </div>
    <div id="right_cell" class="landing_table"></div>

    <% unless current_member %>
      <div class="submission">
        <div id="returning_players">
          <%= content_tag :header, params[:message] || 'Returning Players' %>
          <%= content_tag :header, 'Login to get back in the game:', :class => 'call_to_action' %>
          <%= form_for Member.new(:email => @email), :url => member_session_path do |signin_form| %>
            <%= signin_form.text_field :email, :placeholder => 'Email', :class => 'spacious' %>
            <%#= signin_form.label :email, 'This is the email you entered<br>when you joined the Players Club.'.html_safe %>
            <%= signin_form.password_field :password, :placeholder => 'Password', :class => 'spacious' %><br>
            <%= signin_form.label :password, (@password_explanation || content_tag(:em, 'A temporary password was emailed to you.')), :id => 'password_description' %><br>
            <%= signin_form.check_box :remember_me %>
            <%= signin_form.label :remember_me %>
            <div class="actions">
              <%= submit_tag "Get Back In The Game", :id => 'login_submit_button' %>
            </div>
          <% end %>
          <%= link_to 'Reset Password', new_password_path(:member) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
