<%= clearleft %>
<%= link_to marketing_text('navigation', 'lookup'), new_birthday_path, :id => 'new_lookup_link', :class => 'lunar_navigation' %>
<% if params[:navigation_shown] %>
  <%= clearleft %><%= clearleft %><%= clearleft %>
  <%= link_to marketing_text('navigation', 'reading'), root_url, :class => 'lunar_navigation' %>
<% end %>
<%= clearleft %><%= clearleft %><%= clearleft %>
<%= content_tag :div, :class => 'reading_display_container' do %>
  <%= div_for @birthday do %>
    <%= content_tag :div, :class => 'card_group_heading', :id => 'birth_cards_header' do %>
      <%= @pronoun %> Cards
      <div class="reddened">
        For Life
      </div>
    <% end %>
    <%= content_tag :div, :class => "panel birth" do %>
      <%= card_reading_pane @birthday.birth_card, :birth, "#@pronoun Birth Card", "For #{@birthday.birthdate.strftime("%b %e %Y")}" do %>
        <% if @querent == 'member' %>
          <% if @member.subscribed? %>
            <%= link_to marketing_text('button', @querent, 'daily', 'button_current'), 'javascript: null', :class => 'flip_card call_to_action trailing lunar_navigation' %>
          <% else %>
            <%= checkout_form %>
          <% end %>
        <% end %>
      <% end %>
      
      <% if @querent == 'member' && @member.subscribed? %>
        <%= card_reading_pane @birthday.card_for_today, :daily, marketing_text('heading', @querent, 'daily', 'header'), marketing_text('heading', @querent, 'daily', 'subheader'), 'back' do %>
          <%= link_to marketing_text('button', @querent, 'birth', 'button_current'), 'javascript: null', :class => 'flip_card call_to_action trailing lunar_navigation' %>
        <% end %>
      <% end %>
    <% end %>
  
    <%= content_tag :div, :class => "panel #{@birthday.personality_card ? '' : 'flip'} personality" do %>
      <%= card_reading_pane @birthday.personality_card, :personality, marketing_text('heading', @querent, 'personality', 'header'), marketing_text('heading', @querent, 'personality', 'subheader') do %>
        <% if @birthday == @member.birthday %>
          <% if @member.birthday.astrological_sign.is_cusp? %>
            <%= link_to marketing_text('button', @querent, 'personality', 'button'), member_assign_zodiac_path(:id => @member.id, :member => {:zodiac_sign => nil}), :method => :put, :class => 'trailing call_to_action lunar_navigation', :remote => true %>
          <% end %>
        <% end %>
      <% end %>
    
      <% if @birthday.zodiac_for_birthday.is_cusp? %>
        <%= div_for @birthday, :personality_card_for, :class => "card_reading_pane pane back" do %>
          <%= content_tag :header, marketing_text('heading', @querent, 'personality', 'header') %>
          <%= marketing_text('cusp', @querent, 'personality', 'cusp_picker') %><br>
          <div id="zodiac_options">
            <%= zodiac_picker_for @member, @birthday %>
          </div>
          <%= marketing_text('cusp', @querent, 'personality', 'cusp_unsure') %> <%= mail_to ENV['ASTROLOGICAL_CUSP_QUERY_EMAIL_ADDRESS'], 'email us', :id => 'zodiac_email' %> <%= marketing_text('cusp', @querent, 'personality', 'cusp_unsure_two') %>
        <% end %>
      <% end %>
    <% end %>
    <hr>
    <%= content_tag :div, :class => 'card_group_heading' do %>
      <%= @pronoun %> Cards
      <div class="reddened">
        For This Year
      </div>
    <% end %>
  
    <%= clearboth %>
    <%= content_tag :div, :class => "panel yearly" do %>
      <%= card_reading_pane @birthday.card_for_this_year, :yearly, marketing_text('heading', @querent, 'yearly', 'header'), marketing_text('heading', @querent, 'yearly', 'subheader') do %>
        <%= link_to marketing_text('button', @querent, 'yearly', 'button_last'), 'javascript: null', :class => 'flip_card call_to_action trailing lunar_navigation' %>
        <%= link_to marketing_text('button', @querent, 'yearly', 'button_next'), 'javascript: null', :class => 'skip_card call_to_action trailing lunar_navigation' if @querent == 'member' && braintree_enabled? %>
      <% end %>
  
      <%= card_reading_pane @birthday.card_for_last_year, :yearly, marketing_text('heading', @querent, 'yearly', 'header_last'), marketing_text('heading', @querent, 'yearly', 'subheader'), 'back' do %>
        <%= link_to marketing_text('button', @querent, 'yearly', 'button_current'), 'javascript: null', :class => 'flip_card call_to_action trailing lunar_navigation' %>
      <% end %>
      
      <%= card_reading_pane @birthday.card_for_next_year, :yearly, marketing_text('heading', @querent, 'yearly', 'header_next'), marketing_text('heading', @querent, 'yearly', 'subheader'), 'fore' do %>
        <%= link_to marketing_text('button', @querent, 'yearly', 'button_current'), 'javascript: null', :class => 'skip_card call_to_action trailing lunar_navigation' %>
      <% end %>
    <% end %>
  
    <%= content_tag :div, :class => "panel planetary" do %>
      <%= card_reading_pane @birthday.card_for_this_planet, :yearly, marketing_text('heading', @querent, 'planetary', 'header'), marketing_text('heading', @querent, 'planetary', 'subheader') + (@member.subscribed? ? "  This cycle ends on #{@birthday.date_of_next_planet.strftime("%-m/%-d.")}" : '') do %>
        <%= link_to marketing_text('button', @querent, 'planetary', 'button_last'), 'javascript: null', :class => 'flip_card call_to_action trailing lunar_navigation' %>
        <%= link_to marketing_text('button', @querent, 'planetary', 'button_next'), 'javascript: null', :class => 'skip_card call_to_action trailing lunar_navigation' if @querent == 'member' && braintree_enabled? %>
      <% end %>
      
      <%= card_reading_pane @birthday.card_for_last_planet, :yearly, marketing_text('heading', @querent, 'planetary', 'header_last'), marketing_text('heading', @querent, 'planetary', 'subheader'), 'back' do %>
        <%= link_to marketing_text('button', @querent, 'planetary', 'button_current'), 'javascript: null', :class => 'flip_card call_to_action trailing lunar_navigation' %>
      <% end %>
      
      <%= card_reading_pane @birthday.card_for_next_planet, :yearly, marketing_text('heading', @querent, 'planetary', 'header_next'), marketing_text('heading', @querent, 'planetary', 'subheader'), 'fore' do %>
        <%= link_to marketing_text('button', @querent, 'planetary', 'button_current'), 'javascript: null', :class => 'skip_card call_to_action trailing lunar_navigation' %>
      <% end %>
    <% end %>
  
    <% if braintree_enabled? %>
      <%= div_for @member, :subscription_management_for do %>
        <% if @member.subscribed? %>
          <%= link_to 'I am ready to end my subscription.', cancel_subscriptions_path(:member_id => @member.id), :data => {:confirm => "Do you wish to suspend your subscription, #{@member.name}?"}, :method => :delete %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
