<!DOCTYPE html>
<html>
  <head>
    <title>Cardology</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= google_fonts %>
  </head>

  <body>
    <% if current_member %>
      <%= link_to 'Sign Out', destroy_member_session_path, :method => :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
