<!DOCTYPE html>
<html>
  <head>
    <title>Cardology</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= google_fonts %>
    <script src="https://cdn.rawgit.com/davidjbradshaw/iframe-resizer/v3.5.14/js/iframeResizer.contentWindow.js"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>
    <meta http-equiv="Content-Security-Policy" script-src='unsafe-inline';>
  </head>

  <body>

    <% if @member || current_member %>
      <%= link_to marketing_text('navigation', 'log_out'), destroy_member_session_path, :method => :delete, :id => 'logout_link', :class => 'lunar_navigation' %>
    <% end %>

    <div class="flash-container">
      <% flash.each do |key, message| %>
        <div class="flash <%= key %> show">
          <%= message %>
        </div>
      <% end %>
    </div>
    <%= yield %>
    
    <script>
      window.logged_in_member = <%= current_member.present? %>;
      window.logged_in_member_email = '<%= current_member&.email %>';

      setTimeout(() => {
        const flashes = document.querySelectorAll('.flash');
        flashes.forEach(flash => {
          flash.classList.remove('show');
          setTimeout(() => {
            flash.remove();
          }, 300);
        });
      }, 5000);
    </script>
    
    <%= google_analytics %>
  </body>
</html>
